<h2>Make changes to your note.</h2>

<%= form_for :note, method: :put, url: note_path do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "#{@note.title}" %>
  </div>
  <div>
    <%= f.submit "commit changes" %>
  </div>
<% end %>
