<h2>Profile</h2>
<%= @user.username %>

<p>
  <%= link_to :edit, edit_user_path(@user) %>
</p>

<h3>Your Notes</h3>
<% @user.notes.each do |note| %>
  <%= link_to note.title, note_path(note) %>
<% end %>
