#note-show-title {
  color: coral;
}

#video-title {
  text-decoration: overline;
}

.boxed-edit {
  display: -webkit-box;
  display: -moz-box;
}

#note-edit-link {
  margin-top: 2.25em;
  margin-left: 1em;
}

#stamp-time-form {
  width: 20%;
}

.edit-form {
  margin-bottom: 2em;
}

/*.edit {
  width: 50%;
}*/
