#note-title {
  /*text-decoration: underline;*/
  color: coral;
}

#video-title {
  text-decoration: overline;
}

.boxed-edit {
  display: -webkit-box;
  display: -moz-box;
}

#note-edit {
  margin-top: 3.25em;
  margin-left: 1em;
}

.stamp-form {
  width: 50%;
}

.edit-form {
  margin-bottom: 2em;
}

.edit {
  width: 30%;
}
