.user-list {
  font-size: large;
  margin-left: 2em;
  list-style-type: thai;
}

#user-edit {
  margin-top: 3.25em;
  margin-left: 1em;
}

.side-pages {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}
