<!DOCTYPE html>
<html>
<head>
  <title>YoutubeNoteTaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
</head>
<body>

  <nav>
    <div class='nav-wrapper'>
      <%= link_to "TimeStamps", root_url, class: 'brand-logo' %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id='nav-mobile' class='right hide-on-med-and-down'>
        <li> <%= link_to 'new note', root_url %> </li>
        <%= render '/sessions/login' %>
      </ul>
      <ul class='side-nav' id='mobile-demo'>
        <%= render '/sessions/login' %>
      </ul>
    </div>
  </nav>

  <main>
    <div class='container'>
      <%= yield %>
    </div>
  </main>

  <footer class='page-footer'>
    <div class='footer-copyright'>
      <div class='container'>
        &copy 2016 Time-Stamps.herokuapp.com
      </div>
    </div>
  </footer>

</body>
</html>
